In [5]:
import os
import sys
import tensorflow as tf
import logging
logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s',level=logging.INFO)
import numpy as np
import argparse
from util import *
from sklearn.metrics import *
header = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
df_user = pd.read_csv('data/u.user', sep='|', names=header)
header = ['item_id', 'title', 'release_date', 'video_release_date', 'IMDb_URL', 'unknown', 'Action', 'Adventure', 'Animation', 'Children',
            'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 
            'Thriller', 'War', 'Western']
#数据分组-对年龄数据进行分组
df_user['age_1'] = pd.cut(df_user['age'], [0,10,20,30,40,50,60,70,80,90,100], labels=['0-10','10-20','20-30','30-40','40-50','50-60','60-70','70-80','80-90','90-100'])
#python中的cut函数：实现数据的分组，分段的界值为[0,10,20,30,40,50,60,70,80,90,100]，分组的labels为labels=['0-10','10-20','20-30','30-40','40-50','50-60','60-70','70-80','80-90','90-100']

In [6]:
print(df_user)

     user_id  age gender     occupation zip_code  age_1
0          1   24      M     technician    85711  20-30
1          2   53      F          other    94043  50-60
2          3   23      M         writer    32067  20-30
3          4   24      M     technician    43537  20-30
4          5   33      F          other    15213  30-40
5          6   42      M      executive    98101  40-50
6          7   57      M  administrator    91344  50-60
7          8   36      M  administrator    05201  30-40
8          9   29      M        student    01002  20-30
9         10   53      M         lawyer    90703  50-60
10        11   39      F          other    30329  30-40
11        12   28      F          other    06405  20-30
12        13   47      M       educator    29206  40-50
13        14   45      M      scientist    55106  40-50
14        15   49      F       educator    97301  40-50
15        16   21      M  entertainment    10309  20-30
16        17   30      M     programmer    06355  20-30
17        18   35      F          other    37212  30-40
18        19   40      M      librarian    02138  30-40
19        20   42      F      homemaker    95660  40-50
20        21   26      M         writer    30068  20-30
21        22   25      M         writer    40206  20-30
22        23   30      F         artist    48197  20-30
23        24   21      F         artist    94533  20-30
24        25   39      M       engineer    55107  30-40
25        26   49      M       engineer    21044  40-50
26        27   40      F      librarian    30030  30-40
27        28   32      M         writer    55369  30-40
28        29   41      M     programmer    94043  40-50
29        30    7      M        student    55436   0-10
..       ...  ...    ...            ...      ...    ...
913      914   44      F          other    08105  40-50
914      915   50      M  entertainment    60614  40-50
915      916   27      M       engineer    N2L5N  20-30
916      917   22      F        student    20006  20-30
917      918   40      M      scientist    70116  30-40
918      919   25      M          other    14216  20-30
919      920   30      F         artist    90008  20-30
920      921   20      F        student    98801  10-20
921      922   29      F  administrator    21114  20-30
922      923   21      M        student    E2E3R  20-30
923      924   29      M          other    11753  20-30
924      925   18      F       salesman    49036  10-20
925      926   49      M  entertainment    01701  40-50
926      927   23      M     programmer    55428  20-30
927      928   21      M        student    55408  20-30
928      929   44      M      scientist    53711  40-50
929      930   28      F      scientist    07310  20-30
930      931   60      M       educator    33556  50-60
931      932   58      M       educator    06437  50-60
932      933   28      M        student    48105  20-30
933      934   61      M       engineer    22902  60-70
934      935   42      M         doctor    66221  40-50
935      936   24      M          other    32789  20-30
936      937   48      M       educator    98072  40-50
937      938   38      F     technician    55038  30-40
938      939   26      F        student    33319  20-30
939      940   32      M  administrator    02215  30-40
940      941   20      M        student    97229  10-20
941      942   48      F      librarian    78209  40-50
942      943   22      M        student    77841  20-30

[943 rows x 6 columns]

In [8]:
#对上述的函数添加一个参数，right=False
df_user['age_2'] = pd.cut(df_user['age'], [0,10,20,30,40,50,60,70,80,90,100],right=False)
print(df_user)
#加了参数之后，每段值就只包含左边界，而不包含右边界

     user_id  age gender     occupation zip_code  age_1     age_2
0          1   24      M     technician    85711  20-30  [20, 30)
1          2   53      F          other    94043  50-60  [50, 60)
2          3   23      M         writer    32067  20-30  [20, 30)
3          4   24      M     technician    43537  20-30  [20, 30)
4          5   33      F          other    15213  30-40  [30, 40)
5          6   42      M      executive    98101  40-50  [40, 50)
6          7   57      M  administrator    91344  50-60  [50, 60)
7          8   36      M  administrator    05201  30-40  [30, 40)
8          9   29      M        student    01002  20-30  [20, 30)
9         10   53      M         lawyer    90703  50-60  [50, 60)
10        11   39      F          other    30329  30-40  [30, 40)
11        12   28      F          other    06405  20-30  [20, 30)
12        13   47      M       educator    29206  40-50  [40, 50)
13        14   45      M      scientist    55106  40-50  [40, 50)
14        15   49      F       educator    97301  40-50  [40, 50)
15        16   21      M  entertainment    10309  20-30  [20, 30)
16        17   30      M     programmer    06355  20-30  [30, 40)
17        18   35      F          other    37212  30-40  [30, 40)
18        19   40      M      librarian    02138  30-40  [40, 50)
19        20   42      F      homemaker    95660  40-50  [40, 50)
20        21   26      M         writer    30068  20-30  [20, 30)
21        22   25      M         writer    40206  20-30  [20, 30)
22        23   30      F         artist    48197  20-30  [30, 40)
23        24   21      F         artist    94533  20-30  [20, 30)
24        25   39      M       engineer    55107  30-40  [30, 40)
25        26   49      M       engineer    21044  40-50  [40, 50)
26        27   40      F      librarian    30030  30-40  [40, 50)
27        28   32      M         writer    55369  30-40  [30, 40)
28        29   41      M     programmer    94043  40-50  [40, 50)
29        30    7      M        student    55436   0-10   [0, 10)
..       ...  ...    ...            ...      ...    ...       ...
913      914   44      F          other    08105  40-50  [40, 50)
914      915   50      M  entertainment    60614  40-50  [50, 60)
915      916   27      M       engineer    N2L5N  20-30  [20, 30)
916      917   22      F        student    20006  20-30  [20, 30)
917      918   40      M      scientist    70116  30-40  [40, 50)
918      919   25      M          other    14216  20-30  [20, 30)
919      920   30      F         artist    90008  20-30  [30, 40)
920      921   20      F        student    98801  10-20  [20, 30)
921      922   29      F  administrator    21114  20-30  [20, 30)
922      923   21      M        student    E2E3R  20-30  [20, 30)
923      924   29      M          other    11753  20-30  [20, 30)
924      925   18      F       salesman    49036  10-20  [10, 20)
925      926   49      M  entertainment    01701  40-50  [40, 50)
926      927   23      M     programmer    55428  20-30  [20, 30)
927      928   21      M        student    55408  20-30  [20, 30)
928      929   44      M      scientist    53711  40-50  [40, 50)
929      930   28      F      scientist    07310  20-30  [20, 30)
930      931   60      M       educator    33556  50-60  [60, 70)
931      932   58      M       educator    06437  50-60  [50, 60)
932      933   28      M        student    48105  20-30  [20, 30)
933      934   61      M       engineer    22902  60-70  [60, 70)
934      935   42      M         doctor    66221  40-50  [40, 50)
935      936   24      M          other    32789  20-30  [20, 30)
936      937   48      M       educator    98072  40-50  [40, 50)
937      938   38      F     technician    55038  30-40  [30, 40)
938      939   26      F        student    33319  20-30  [20, 30)
939      940   32      M  administrator    02215  30-40  [30, 40)
940      941   20      M        student    97229  10-20  [20, 30)
941      942   48      F      librarian    78209  40-50  [40, 50)
942      943   22      M        student    77841  20-30  [20, 30)

[943 rows x 7 columns]